<header class="site-header">
  <h1 class="page-title"><a class="site-title without-underline" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
  <nav class="cf">
    <ul class="nav-list">
           <li><a class="without-underline" href="/">Work</a></li>
      {% for page in site.pages %}
        {% if page.layout == "page" %}
          <li><a class="without-underline" href="{{ page.url }}">{{ page.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
  <h2 class="page-title-sub "> {{ site.description }} </h2>

</header>
