<header class="site-header">
<h1><a class="page-title without-underline" href="{{ site.baseurl }}/">{{site.title}}</a></h1>
  <nav class="cf">
    <ul class="nav-list">
           <li><a class="without-underline" href="/">Work</a></li>
      {% for page in site.pages %}
        {% if page.layout == "page" %}
          <li><a class="without-underline" href="{{ page.url }}">{{ page.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
  <span class="page-title-sub ">BRAND STRATEGY </span> <span class="page-title-sub ">| </span>  <span  class="page-title-sub ">MARKETING </span> <span class="page-title-sub ">| </span>  <span class="page-title-sub ">CONTENT </span> <span class="page-title-sub ">| </span>  <span class="page-title-sub " >ADVISOR</span>
  <!-- <h2 class="page-title-sub "> {{ site.description }} </h2> -->
</header>
