
// 🎌The Grid 🎌
.page-content {
  max-width: 100%;
margin-left: auto;
margin-right: auto;
    img{
    width: 100%;
    @include responsive(small-screens){
     width: 100%;


    }
  }
}

header {
  margin-bottom: 1em;
}

p, a {
  font-size: 1em;
  font-weight: 300;
}


#overlay-preload {

  background: #fff;
height: 100%;
width: 100%;
position: fixed;
z-index: 999999;
color: #000;
font-weight: 300;
font-size: 24px;
text-align: center;
overflow: visible;


h1 {
  font-family: 'Cormorant Infant', serif;
  position: relative;
  display: block;
  top: 40%;
  margin: 0 auto;
  margin-top: -70px;
  width:40%;
  text-transform: uppercase;


}

 p {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 90%;
  top: 45%;
  text-transform: uppercase;
  color: #9a9696;
  font-size: .7em;
  font-family: 'Source Sans Pro', sans-serif;
}


}


ul.news {
  list-style: none;
  padding: 0;

  li {
    width: 10em;
float: left;
margin: 0 5em 0 0em;
  }
}


.big-wrap{
  @include min-width(3.5);
  margin: auto;
  @include responsive(tiny-screens){
    @include width(5);
  }
  @include responsive(small-screens){
    @include width(7);
  }
  @include responsive(medium-screens){
    @include width(10);
  }
  @include responsive(wide-screens){
    @include width(12);
  }
  @include responsive(ultra-wide-screens){
    @include width(14);
  }
}

// 🎌The homepage content

.home-portfolio {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  float: left;
  border-bottom: 1px solid #eee;
padding: 1em 0;
    &:last-child {
      border-bottom: none;
    }


    &--copy {
      float: left;
      font-size: 1.2em;
      line-height: 1.3;
      font-family: 'Source Sans Pro', sans-serif;


      @include responsive(small-screens){
       width: 100%;
       font-size: 1.1em;

      }

      @include responsive(medium-screens){
         @include width(4);
          font-size: 1.3em;
      }

      @include responsive(wide-screens){
          @include width(5);
           font-size: 1.3em;
      }




    }

    &--credits {
      @include width(4);


      @include responsive(tiny-screens){
              width: 100%;
      }
      @include responsive(small-screens){
       width: 100%;
      }

      @include responsive(medium-screens){
        @include width(4);
      }

      @include responsive(medium-screens){
        float: right;
      }

      h3 {
        font-size: .9em;
margin: 1em 0 0;
text-transform: uppercase;
      }


    }
 }

 .about-content {
   float: left;


  @include responsive(small-screens){
    width: 100%;
    padding:  0;
  }
  @include responsive(medium-screens){
    padding-right: 0;
    @include width(5);
     padding-right: 2em;
  }
  @include responsive(wide-screens){
    @include width(6);
    padding-right: 2em;
  }
  @include responsive(ultra-wide-screens){
    @include width(7);
  }

  h1 {
    font-size: 1.3em;
    margin: 1em 0;
  }

  h4 {
    margin: 0;
    font-size: .6em;
  }


 }

 .about-info {

     margin-top: 0;
     float: left;

     @include responsive(small-screens){
       padding: 0;
       border-left: none;
     }

     @include responsive(medium-screens){
      @include width(5);
      float: left;
     }

      h2 {
        font-family: 'Cormorant Infant', serif;
        margin: 0;
        font-size: 1.2em;
        font-weight: normal;
      }

     ul {
       list-style: none;
       //list-style-type: square;
       padding: 0;

       li {
         text-decoration: none;
         display: inline;
         margin: 0 1em 0 0;
       }
     }
 }

.about-contact {
  float: left;
margin: 2em auto;
width: 100%;
display: block;
text-align: center;
border-top: 1px solid #e1e1e1;

    div {
      margin-top: 2em;
    }

    h2 {
      font-family:'Cormorant Infant', serif;
font-weight: 300;
font-size: 1.8em;
    }

    h4 {
      line-height: 1;
      margin: 0 0 1em 0 ;
      font-weight: 300;
    }
    ul {
      padding: 0;
    }

    li {
     line-height: 1.5;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.3em;

    }

}

// 🎌The Header🎌

/*Navigation*/
.nav-list{
  list-style-type: none;
  padding-left: 0;
  float: right;
  margin-top:1em;



  li{
    display: inline;
margin-left: 1rem;

      a {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 300;
      }
  }
}
// 🎌Content🎌
.more{
  text-align: right;
}
.more--icon{
  height: 1rem;
  position: relative;
  top: .14rem;
}
// 🎌The Footer🎌
.colophon{
  text-align: center;
   img{
  height: 2rem;
  position: relative;
  top: 10px;
  }
}
// // 🎌Pagination🎌
// .pagination{
//   margin: 4rem auto 1rem auto;
//   font-family: 'Archivo Narrow';
//   padding: .5rem;
//   background-color: lighten($gray, 30%);
//   span, a{
//     display: inline-block;
//     padding: 1rem 1rem;
//     @include responsive(medium-screens){
//       padding: 1rem 2rem;
//     }
//     text-align: center;
//     text-decoration: none;
//     border-radius: .2rem;
//   }
// }
// .pagination a{
//   border: 2px solid $blue;
//   a:hover{
//     border: 2px solid darken($blue, 10%);
//   }
// }
// .pagination span{
//   border: 2px solid black;
// }
// .previous{
// float: right;
// }
// .next{
//   float: left;
// }
// .page_number{
//   text-align: center;
//   margin-top: .5rem;
//   font-family: 'Archivo Narrow';
// }
// 🎌Footer🎌

footer{
  margin-top: 1rem;
  padding: 3rem 0 2em;
  clear: both;

  ul {
    list-style: none;
    width: 243px;
margin: 0 auto;
padding: 0;

    li {
      display: inline;
      margin: 0 1em;
    }
  }


}
