
// 🎌The Grid 🎌
.page-content {
  max-width: 100%;
margin-left: auto;
margin-right: auto;
    img{
    width: 100%;
  }
}

p, a {
  font-size: .9em;
}


#overlay-preload {
  font-family: 'Cormorant Infant', serif;
  background: #fff;
height: 100%;
width: 100%;
position: fixed;
z-index: 999999;
color: #000;
font-weight: 300;
font-size: 24px;
text-align: center;
overflow: visible;

h1 {
  position: relative;
  display: block;
  top: 40%;
  margin: 0 auto;
  margin-top: -70px;
  width:40%;

}

 p {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 90%;
   top: 50%;
}


}





.big-wrap{
  @include min-width(3.5);
  margin: auto;
  @include responsive(tiny-screens){
    @include width(5);
  }
  @include responsive(small-screens){
    @include width(8);
  }
  @include responsive(medium-screens){
    @include width(10);
  }
  @include responsive(wide-screens){
    @include width(12);
  }
  @include responsive(ultra-wide-screens){
    @include width(14);
  }
}

// 🎌The homepage content

.home-portfolio {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  float: left;
  border-bottom: 1px solid #eee;
padding: 1em 0;
    &:last-child {
      border-bottom: none;
    }


    &--copy {
      @include width(5);
      float: left;
      font-size: 1.3em;
      line-height: 1.3;
      font-family: 'Cormorant Infant', serif;
      color: #585858;
      @include responsive(medium-screens){
        @include width(4);
      }

      h3 {
            font-size: 1.1em;
      }
    }

    &--credits {
      @include width(4);
      float: right;
      font-family: 'Source Sans Pro', sans-serif;
      @include responsive(tiny-screens){
        @include width(5);
      }
      @include responsive(small-screens){
        @include width(8);
      }

      @include responsive(medium-screens){
        @include width(4);
      }

    }
 }

 .about-content {
   float: left;
  padding-right: 2em;


  @include responsive(small-screens){
    @include width(5);
  }
  @include responsive(medium-screens){
    @include width(7);
  }
  @include responsive(wide-screens){
    @include width(9);
  }
  @include responsive(ultra-wide-screens){
    @include width(10);
  }

  h1 {
    font-size: 1.5em;
    margin: 1em 0;
  }


 }

 .about-info {
     @include width(3);
     float: left;
     border-left: 1px solid #eee;
     padding: 0 1em;
     margin-top: 2em;

      h2 {
        margin: 0;
        font-size: 1.2em;
      }

     ul {
       list-style: none;
       //list-style-type: square;
       padding: 0;

       li {
         text-decoration: none;

       }
     }
 }



// 🎌The Header🎌

/*Navigation*/
.nav-list{
  list-style-type: none;
  padding-left: 0;
  float: right;
  margin-top:1.5em;

  li{
    display: block;
    margin-right: 1rem;

      a {
        font-family: 'Source Sans Pro', sans-serif;
      }
  }
}
// 🎌Content🎌
.more{
  text-align: right;
}
.more--icon{
  height: 1rem;
  position: relative;
  top: .14rem;
}
// 🎌The Footer🎌
.colophon{
  text-align: center;
   img{
  height: 2rem;
  position: relative;
  top: 10px;
  }
}
// 🎌Pagination🎌
.pagination{
  margin: 4rem auto 1rem auto;
  font-family: 'Archivo Narrow';
  padding: .5rem;
  background-color: lighten($gray, 30%);
  span, a{
    display: inline-block;
    padding: 1rem 1rem;
    @include responsive(medium-screens){
      padding: 1rem 2rem;
    }
    text-align: center;
    text-decoration: none;
    border-radius: .2rem;
  }
}
.pagination a{
  border: 2px solid $blue;
  a:hover{
    border: 2px solid darken($blue, 10%);
  }
}
.pagination span{
  border: 2px solid black;
}
.previous{
float: right;
}
.next{
  float: left;
}
.page_number{
  text-align: center;
  margin-top: .5rem;
  font-family: 'Archivo Narrow';
}
// 🎌Footer🎌

footer{
  margin-top: 1rem;
  padding: 1rem 0;
  clear: both;
}
