// 🎌Use the web-font loader to hide the flash of unstyled text—if Google fonts goes down, serve the next font in the stack🎌
$headerFont                 :  'Cormorant Infant', serif;
$serifFont                 :  'Source Sans Pro', sans-serif;

body{
  visibility: hidden;
  font-family: $headerFont ;
  font-weight: 300;
}

.site-description {
    margin: 2em 0 3em;

    h2 {
      font-size: 2em;
      font-weight: 300;
    }
}

.wf-inactive body{
  visibility: visible;
  font-family: $serifFont;

  h1, h2, h3, h4{
    font-family: $headerFont;
        font-weight: normal;
  }

}
.wf-active body{
  visibility: visible;
  font-family: $serifFont;
      font-weight: normal;

  h1 {
    font-family: $headerFont;
    font-weight: 300;
    font-size: 1.3em;
  }





  }






.svg{
  fill: currentColor;
}
nav a{
  font-family: $headerFont;
  -webkit-transition: all 300ms ease-out;
-moz-transition: all 300ms ease-out;
-ms-transition: all 300ms ease-out;
-o-transition: all 300ms ease-out;
transition: all 300ms ease-out;
}
nav a:hover{
  color: #ccc;
}


  .page-title-sub {

  display: block;
  font-size: .8em;
  color: #9a9696;
  letter-spacing: .05em;
  padding: 0 0 1em;
  word-wrap: break-word;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: .3rem;
  margin: 0;
  }

.page-title{
  display: block;
float: left;
width: 6.5em;

@include responsive(tiny-screens){
  padding: 1em 0 0;

}

  @include responsive(small-screens){
    padding: 1em 0 0;

  }
  @include responsive(medium-screens){
    padding: 1em 0 0;
  }
  @include responsive(wide-screens){
    padding: .6em 0 0;
  }
  @include responsive(ultra-wide-screens){
    padding: .6em 0 0;
  }


  a{
    color: black;
      &:hover {
        color: black;
      }
  }

}
.highlighter-rouge{
  background-color: #2C3644;
  margin: 2rem;
  padding: 1rem;
  code{
    word-wrap: break-word;
  }
}
hr{
  border: none;
  border-bottom: 1px solid $red;
}
// 🎌Navigational Links🎌
.more a{
  font-family: $headerFont;
}
// 🎌Content🎌
.post-details{
  font-family:$serifFont;
  line-height: 1.5;
  margin-top: .5em;
  span{
    padding: .15rem .3rem;
    background-color: $red;
    color: white;
    border-radius: .2rem;
    margin-right: .5rem;
  }
}
// 🎌Content Links🎌

a{
  text-decoration: none;
}
a:hover{
  color: darken($blue, 10%);
}

a:not(.without-underline):hover{
  background-size: 2px 2px;
  color: darken($blue, 10%);
}
