// 🎌Use the web-font loader to hide the flash of unstyled text—if Google fonts goes down, serve the next font in the stack🎌
$serifFont                 :  'Cormorant Infant', serif;
$bodyFont                  : 'Source Sans Pro', sans-serif;

body{
  visibility: hidden;
  font-family: $serifFont ;
  font-weight: 300;
}

.site-description {
    margin: 2em 0 3em;

    h2 {
      font-size: 2em;
      font-weight: 300;
    }
}

.wf-inactive body{
  visibility: visible;
  font-family: $serifFont;
  .page-title{
    font-family: $serifFont;
  }
  h1, h2, h3, h4{
    font-family: $serifFont;
        font-weight: normal;
  }

}
.wf-active body{
  visibility: visible;
  font-family: $bodyFont  ;
      font-weight: normal;

  h1 {
    font-weight: 300;
    margin: 0;

    @include responsive(tiny-screens){
      font-size: 1.2996rem;
    }

    @include responsive(medium-screens){
      font-size: 1.498em;
    }
    @include responsive(wide-screens){
      font-size: 1.498em;
    }
  }



  .page-title{
    font-family: $serifFont;
    text-transform: uppercase;
    @include responsive(tiny-screens){
      font-size: 1.3rem;
    }

    @include responsive(small-screens){
      font-size: 1.4rem;
    }
    @include responsive(medium-screens){
      font-size: 1.6rem;
    }
    @include responsive(wide-screens){
      font-size: 1.6rem;
    }
    @include responsive(ultra-wide-screens){
      font-size: 2rem;
    }

        &:hover {
          color: black;
        }

  }



  }






.svg{
  fill: currentColor;
}

nav.cf {
  @include responsive(tiny-screens){
    display: inline-block;
  }

  @include responsive(small-screens){
    display: block;
  }
  @include responsive(medium-screens){
    display: block;
  }
  @include responsive(wide-screens){
    display: block;
  }
  @include responsive(ultra-wide-screens){
    display: block;
  }


}
nav a{
  font-family: $bodyFont;
  -webkit-transition: all 300ms ease-out;
-moz-transition: all 300ms ease-out;
-ms-transition: all 300ms ease-out;
-o-transition: all 300ms ease-out;
transition: all 300ms ease-out;
}
nav a:hover{
  color: #aaaaaa;
}


  .page-title-sub {

  font-size: .8em;
  color: #9a9696;
  padding: .6em 1em 0 0;
  word-wrap: break-word;
  font-weight: 300;
  border-radius: .3rem;

  margin: 0;

  @include responsive(tiny-screens){
    padding: .6em .41em 0 0;
    display: table-cell;
  }

  }

.page-title{
  display: block;
    /* text-transform: uppercase; */
    float: left;
    font-family: $serifFont;
    padding: 0;
    word-wrap: break-word;
    font-weight: 400;
    border-radius: .3rem;
    padding: 20px 0 0;


}
.highlighter-rouge{
  background-color: #2C3644;
  margin: 2rem;
  padding: 1rem;
  code{
    word-wrap: break-word;
  }
}
hr{
  border: none;
  border-bottom: 1px solid $red;
}
// 🎌Navigational Links🎌
.more a{
  font-family: $serifFont;
}
// 🎌Content🎌
.post-details{
  font-family:$bodyFont;
  line-height: 1.5;
  margin-top: .5em;
  font-size: .9em;

}
// 🎌Content Links🎌

a{
  text-decoration: none;

}
a:hover{
  color: black;
}

a:not(.without-underline):hover{
  color: #aaaaaa;
}
