---
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div id="overlay-preload">
      <h1>Lauren Gallo</h1>
      <p> Brand Strategy | Marketing | Content | Curator </p>
    </div>
    <div class="big-wrap">
      {% include header.html %}

      <div class="page-content">
        <div class="wrapper">
          {{ content }}
        </div>
      </div>
      {% include footer.html %}
    </div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
    <script type="text/javascript">
    // Overlay fade out on load
    $(window).load(function() {
	    $('#overlay-preload').delay(3500).fadeOut('slow'); });
    $(document).ready(function() {
      $('#overlay-preload h1').hide(0).delay(300).fadeIn(2000);
      $('#overlay-preload p').hide(0).delay(1000).fadeIn(1000);
});
  //   var welcome = $('#overlay-preload')
  //    welcome.load(function() {
  //  $(this).activeClass('active').fadeOut(fast, 400);
  //    });)

    </script>
  </body>
</html>
