---
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <!-- {% if page.title == 'Home' %} -->
    <div id="overlay-preload">
      <h1>Lauren Gallo</h1>
      <p> Creative | Brand Strategy | Marketing | Curator </p>
    </div>
        <!-- {% endif %}  -->
    {% include svg_sprite.html %}
    <div class="big-wrap">
      {% include header.html %}

      <div class="page-content">
        <div class="wrapper">
          {{ content }}
        </div>
      </div>

      {% include footer.html %}
    </div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
    <script type="text/javascript">
    // Overlay fade out on load
    $(window).load(function() {
	    $('#overlay-preload').delay(2000).fadeOut('slow');
    });
    </script>
  </body>
</html>
