---
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>

    <div class="big-wrap">
      {% include header.html %}

      <div class="page-content">
        <div class="wrapper">
          {{ content }}
        </div>
      </div>
      {% include footer.html %}
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>


{% if page.title ==  'Press' 'About' %}
<script type="text/javascript">
$(document).ready(function() {
 $('.big-wrap').fadeIn(1000);
});
</script>

{% endif %}

  </body>
</html>
