---
layout: default
---

<div class="post">
{% if page.title == 'About' %}
  <article class="about-content">

    <img src="{{page.image}}" alt="lauren-gallo">
    <h4>photo by Justin Chung</h4>



  </article>

  <aside class="about-info">
    {{ content }}
  </aside>
  {% endif %}

 {% if page.title == 'Press' %}
    <div>
      <ul class="news">
         {% for post in site.posts %}

        <li>
          <img src="{{post.image}}" alt="">
          <a href="{{post.link}}"> {{post.title}} </a>{% if post.content %}
        {{ post.content }}
        </li>
         {% endif %}
        {% endfor %}
       </ul>
    </div>
      {% endif %}
    <!-- <div>
    <h2>Contact</h2>

    <ul>
    {% for follow-link in page.follow-link %}

    <li>
    <a href="{{ follow-link.url }}" > {{follow-link.text}}</a>
    </li>
    {% endfor %}
    </ul>
    </div> -->
</div>
