---
layout: default
---

<div class="post">
  {% if page.title == 'About' %}
  <img src="{{page.image}}" alt="lauren-gallo">
  {% endif %}
  <article class="about-content">
    {{ content }}
  </article>

  <aside class="about-info">
    <h2>Contact</h2>

    <ul>
    {% for follow-link in page.follow-link %}

    <li>
    <a href="{{ follow-link.url }}" > {{follow-link.text}}</a>
    </li>
    {% endfor %}
    </ul>


    <h2> Press </h2>
   {% for post in site.posts %}
   <ul>
     <li><a href="{{post.link}}"> {{post.title}} </a></li>
   </ul>

   {% endfor %}
  </aside>
</div>
